@{
    ViewBag.Title = "Lioa";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 home" ng-controller="categoryProductController">
    <input type="hidden" value="1" id="idCategoryProduct" />
    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs leftHome pull-left">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 listSP" ng-repeat="(indexCategoryProduct, valueCategoryProduct) in categoryProducts">
            <p class="tieuDe">{{valueCategoryProduct.title}}</p>
            <span us-spinner="{radius:15, width:4, length: 8}"></span>
            <p ng-hide="valueCategoryProduct.homeProducts.length > 0" style="font-size: 1em;color: #f44336;">Đang cập nhật</p>
            <ul class="list" ng-show="valueCategoryProduct.homeProducts.length > 0">
                <li class="item" ng-repeat="(indexProduct, valueProduct) in valueCategoryProduct.homeProducts"><span class="fa fa-hand-o-right"></span> <a href="/san-pham/{{valueProduct.alias}}-{{valueProduct.idProduct}}">{{valueProduct.title}}</a></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 centeHome">
        <img src="~/Content/Front/images/Banner.png" class="img-responsive" />
        <div class="panel panel-success">
            <div class="panel-heading">Sản phẩm nổi bật</div>
            <div class="panel-body">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sp" dir-paginate="(index, value) in spNoiBats | itemsPerPage:3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 khung">
                        <img ng-src="{{value.image}}" class="img-responsive" alt="{{value.title}}" />
                        <a href="/san-pham/{{value.alias}}-{{value.idProduct}}" class="tieuDe">{{value.title}}</a>
                        <a href="/san-pham/{{value.alias}}-{{value.idProduct}}" class="btnXemThem">Xem thêm</a>
                        <img src="~/Content/Front/images/123454.gif" class="km" ng-show="value.km > 0" />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">Sản phẩm mới</div>
            <div class="panel-body">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 sp" ng-repeat="(index, value) in spMoiHomes">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 khung">
                        <img ng-src="{{value.image}}" class="img-responsive" alt="{{value.title}}" />
                        <a href="/san-pham/{{value.alias}}-{{value.idProduct}}" class="tieuDe">{{value.title}}</a>
                        <a href="/san-pham/{{value.alias}}-{{value.idProduct}}" class="btnXemThem">Xem thêm</a>
                        <img src="~/Content/Front/images/123454.gif" class="km" ng-show="value.km > 0" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden-lg hidden-md hidden-sm col-xs-12 leftHome">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 listSP" ng-repeat="(indexCategoryProduct, valueCategoryProduct) in categoryProducts">
            <p class="tieuDe">{{valueCategoryProduct.title}}</p>
            <span us-spinner="{radius:15, width:4, length: 8}"></span>
            <p ng-hide="valueCategoryProduct.homeProducts.length > 0" style="font-size: 3em;color: #f44336;">Đang cập nhật</p>
            <ul class="list" ng-show="valueCategoryProduct.homeProducts.length > 0">
                <li class="item" ng-repeat="(indexProduct, valueProduct) in valueCategoryProduct.homeProducts"><span class="fa fa-hand-o-right"></span> <a href="/san-pham/{{valueProduct.alias}}-{{valueProduct.idProduct}}" class="tieuDe">{{valueProduct.title}}</a></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs rightHome pull-right">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 listBV">
            <p class="tieuDe">TIN TỨC NỔI BẬT</p>
            <span us-spinner="{radius:15, width:4, length: 8}"></span>
            <p ng-hide="tinNoiBats1.length > 0" style="font-size: 1em;color: #f44336;">Đang cập nhật</p>
            <ul class="list" ng-show="tinNoiBats1.length > 0">
                <li class="item" ng-repeat="(index, value) in tinNoiBats1"><span class="fa fa-angle-double-right"></span> <a href="/bai-viet/{{value.alias}}-{{value.idPost}}" class="tieuDe">{{value.title}}</a></li>
            </ul>
        </div>


        <img src="~/Content/Front/images/TuVan.png" class="img-responsive" />

        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%25E1%25BB%2594n-%25C3%25A1p-lioa-H%25E1%25BA%25A3i-Ph%25C3%25B2ng-370229273357560%2F%3F__mref%3Dmessage_bubble&tabs=timeline&width=300&height=800&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 listBV">
            <p class="tieuDe">Lượt truy cập</p>
            <span us-spinner="{radius:15, width:4, length: 8}"></span>
            <ul class="list">
                <li class="item"><span class="fa fa-bar-chart"></span> Lượt truy cấp trong ngày: {{accessCountDay}}</li>
                <li class="item"><span class="fa fa-bar-chart"></span> Lượt truy cấp trong tháng: {{accessCountMonth}}</li>
                <li class="item"><span class="fa fa-bar-chart"></span> Lượt truy cấp tháng trước: {{accessCountMonthBefore}}</li>
            </ul>
        </div>
        
        
    </div>
</div>